.three-layout {
    display: flex;
    gap: 1rem;
  
    .left {
      flex: 0 0 20%;
      background: lightblue;
      border: 1px solid rgba(blue, 0.3);
      min-height: 30rem;
    }
  
    .middle {
      flex: 0 0 50%;
      min-height: 30rem;
    }
  
    .right {
      flex: 0 0 30%;
      background: lightsalmon;
      border-left: 1px solid salmon;
      min-height: 30rem;
    }
  }
  
  .container {
    display: flex;
    gap: 2rem;
  }
  
  .column {
    background: rgba(lightgray, 0.3);
    padding: 1rem 1rem;
    border-radius: 10px;
  
    h4 {
      margin-top: 0;
    }
  }